dataset_joined/
dataset_normalized/
dataset_normalized (copy)/
garbage_classification/
dataset_balanced/
teach_codes/
trashCode/
archive.zip
datasets_copy.zip
degruyter_comp_comp-2022-0278 1..16 ++.pdf
Paper2910.pdf
dataset_processed2/
Makefile
dataset_normalized2/
papers/
Copy/
step1_dataset_joined/
step2_dataset_balanced/
step3_dataset_normalized/
test_images/
step3_dataset_normalized_canny70/
step3_dataset_normalized_canny75/
step3_dataset_normalized_canny90/
step3_dataset_normalized_nocanny/
step3_dataset_normalized_noprep/
process_captures/
step3_dataset_normalized_config6_9000/
step3_dataset_normalized_28k_config8/
*.keras
Makefile